* {
	box-sizing: border-box;
}

h1 {
	font-size: 4em;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
}

p {
	font-size: 1.5em;
}

#link1 {
	font-size: 1.5em;
}

.container {

	max-width: 1000px;
	margin: auto;
}

.des-menu {
	display: none;
	font-size: 1.5em;
	color: white;
	cursor: pointer;
}

nav {
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.345);
	width: 90%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

nav li {
	list-style: none;
	display: inline;
	margin: 23px;
	justify-content: space-between;
}

nav .container {
	font-size: 1.2em;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}

nav .container a {
	color: white;
	margin-top: 0;
	margin-bottom: 0;
	text-decoration: none;
	margin: none;
}

#Titulo {
	height: 100vh;
	align-content: center;
	text-align: center;
	flex-direction: column;
	display: flex;
	color: white;
	background-image: linear-gradient(0deg,
			rgba(0, 0, 0, 0.33)), url(img/fondo_web.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

#Titulo #texto1 {
	padding: 0px 20px;
	margin: auto;
}

#Titulo h1 {
	margin: 0;
	font-size: 100px;
}

#Playas {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	text-align: center;
	align-items: baseline;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.33)), url(img/jonathan-borba-TlrVTwdg7LA-unsplash.jpg);
	background-repeat: no-repeat;
}

#Playas .containerP {
	align-items: center;
	text-align: center;
	align-content: center;
	background-position: center center;
	background-color: whitesmoke;
	min-width: 550px;
	max-width: 1400px;
	width: 30%;
	text-align: left;
	margin: 20px;
	margin-top: 10%;
}

#Playas p {
	margin: 0;
	padding: 20px 5px;
	padding-left: 20px;
	color: black;
	justify-content: justify;
	padding: 5px;
}

#Playas h2 {
	font-size: 2em;
	margin: 10px;
}

#Playas .containerP img{
	height: 25px;
	width: 25px;
	margin-right: 10px;
}

#Playas .containerP a {
	color: black;
	font-size: 1.2em;
	margin-left: 20px;
	padding-bottom: 20px;
}

.valoracion {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.valoracion input {
    position: absolute;
    top: -100px;
}


.valoracion label {
    float: right;
    color: #c1b8b8;
    font-size: 50px; 
}

.valoracion label:hover,
.valoracion label:hover ~ label,
.valoracion input:checked ~ label {
    color: #ffff00;
}

#Playas .img-cont {
	background-image: url("img/ElFaro.jpg");
	margin: auto;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 400px;
	width: 350px;
	margin-top: 20px;
}

#servicios {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	align-items: center;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.33)), url(img/jonathan-borba-TlrVTwdg7LA-unsplash.jpg);
	height: 100vh;
}

#servicios h1 {
	font-size: 5em;
	margin: 10px;
	text-align: center;
	color: white;
	margin-top: 100px;
}

#servicios #servicio1, #servicio2, #servicio3 {
	width: 90%;
	height: 250px;
	background-color: rgba(255, 255, 255, 0.33);
	border-radius: 100px;
	margin: 20px;
	align-items: right;
	display: flex;
	justify-content: flex-end;
}

#servicios #img{
	background-image: url(img/ElFaro.jpg);
	height: 100%;
	width: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 100px;
}

@media (max-width: 720px) {
	#Titulo nav .container {
		max-width: 1000px;
		font-size: 1.5em;
		height: 80px;
	}

	nav {
		margin: 20px;
		justify-self: left;
		width: 70px;
		height: 70px;
		border-radius: 50%;
	}

	.des-menu {
		display: block;
	}

	#menu {
		display: none;
		flex-direction: column;
		position: absolute;
		left: 0;
		width: 100%;
		padding: 10px 0;
		text-align: center;
	}

	/* Menú activo */
	#menu:hover {
		display: flex;
	}

	#Titulo h1 {
		font-size: 4em;
		font-family: "Alatsi", sans-serif;
		font-weight: 400;
		font-style: normal;

	}

	#Playas {
		flex-direction: column;
		justify-content: space-evenly;
	}

	#Titulo #texto1 {
		font-size: 2em;
		margin: auto;
	}

	#Playas .container {
		min-width: 80%;
		margin: 10px;
	}

	#Playas #textP1 {
		width: 50%;
		text-align: left;
		width: auto;
		margin-top: 20px;
		margin-left: 5%;
		margin-right: 5%;
		font-size: 1.8em;
		padding-bottom: 10%;
	}

	#Playas #linkFaro {
		margin-top: 20px;
		font-size: 1.5em;
	}

	#Playas .img-cont {
		height: 400px;
		width: 250px;
		margin: auto;
	}
}